<suite name="Suite" preserve-order="true" parallel="false"
	thread-count="5" annotations="javadoc" skipfailedinvocationcounts="true">

	<test name="PerfTest" verbose="2" preserve-order="true" parallel="false"
		thread-count="5" annotations="javadoc" group-by-instances="false"
		skipfailedinvocationcounts="true">
		<packages>
			<package name="com.quanql.test.androidui.testcase" />
		</packages>
	</test>
	<listeners>
		<listener class-name="com.quanql.test.core.listener.PowerEmailableReporter" />
		<listener class-name="com.quanql.test.core.listener.TestResultListener" />
		<listener class-name="com.quanql.test.core.listener.RetryListener" />
	</listeners>
</suite>